html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%; }

#bodyWrapper {
  display: flex;
  flex-direction: row; }

#side-image {
  width: 500px;
  height: auto;
  background-image: url("../images/serviceLady.jpg");
  background-position: center;
  background-repeat: no-repeat; }

/********************************UNDER CONTSTRUCTION**************************/
#form-area {
  width: 500px;
  margin: auto;
  font-family: sans-serif;
  margin-bottom: 5px; }
  #form-area h1 {
    font-size: 50px;
    font-weight: 200; }
  #form-area #info {
    background-color: #ececec;
    padding: 10px;
    border-radius: 10px; }
    #form-area #info ul li {
      list-style-type: none;
      line-height: 2; }
      #form-area #info ul li i {
        margin-right: 5px;
        color: #27c427; }
  #form-area #formSettings {
    display: flex;
    flex-direction: row; }
    #form-area #formSettings h3 {
      margin-right: 10px; }
      #form-area #formSettings h3:hover {
        cursor: pointer; }
    #form-area #formSettings h3:nth-child(1) {
      border-bottom: 3px solid #3f82ff; }
  #form-area #forms-container {
    /** THE SOCIAL NETWORK BUTTONS AT END OF FORM */ }
    #form-area #forms-container form .form-inputs {
      display: flex;
      flex-direction: column; }
      #form-area #forms-container form .form-inputs label {
        font-size: 15px;
        margin-top: 5px; }
      #form-area #forms-container form .form-inputs .input-types {
        font-size: 30px; }
      #form-area #forms-container form .form-inputs #rememberMeContainer {
        display: flex;
        flex-direction: row;
        margin-top: 10px; }
        #form-area #forms-container form .form-inputs #rememberMeContainer p {
          margin: 0;
          margin-right: 10px; }
        #form-area #forms-container form .form-inputs #rememberMeContainer a {
          margin-top: 15px;
          margin-left: 5px;
          margin: 0; }
      #form-area #forms-container form .form-inputs input[type=submit] {
        border: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
        background-color: #dadada;
        padding: 5px;
        border-radius: 5px;
        transition: .3s ease-in-out; }
        #form-area #forms-container form .form-inputs input[type=submit]:hover {
          cursor: pointer;
          color: black; }
    #form-area #forms-container form #divider {
      text-align: center; }
    #form-area #forms-container #social-logins {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center; }
      #form-area #forms-container #social-logins button {
        margin-right: 10px;
        font-size: 20px;
        border: none;
        color: white;
        padding: 5px;
        border-radius: 3px; }
        #form-area #forms-container #social-logins button i {
          margin-right: 3px; }
        #form-area #forms-container #social-logins button:nth-child(1) {
          background-color: #0077ff; }
        #form-area #forms-container #social-logins button:nth-child(2) {
          background-color: #1c2aac; }
        #form-area #forms-container #social-logins button:hover {
          cursor: pointer; }
    #form-area #forms-container #form2 {
      display: none; }

footer {
  background-color: black;
  height: 500px;
  width: auto;
  color: white; }
  footer #footer-contents {
    margin-top: 50px;
    display: flex;
    font-family: sans-serif;
    flex-wrap: wrap; }
    footer #footer-contents .lists .list-titles {
      padding-bottom: 30px;
      list-style-type: none;
      font-weight: bold;
      text-transform: uppercase; }
    footer #footer-contents .lists li {
      list-style-type: none; }
